@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: hsl(39, 100%, 50%); */
    background-color: orange;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    margin-top: 50px;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
    transform: scale(1.03);
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#question,
.btn {
    font-size: 1.2rem;
    cursor: pointer;
}

.hide {
    display: none;
}

.imgbg {
    position: absolute;
    top: 45px;
    left:37.5%;
    height: 25%;
    width: 25%;
}

footer {
    position: absolute;
    bottom:0;
    height: 45px;
    color: rgb(255, 255, 255);
    background-color:rgba(0, 128, 0, 0.531);
    width: 100%;
}

footer p {
    margin: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}
#videoBG {
    position:fixed;
    z-index: -1;

/*not work if the screen ratio is below 16/9*/
    width:100%;     
    height: auto;
}
@media (max-width:768px) {
    /* footer{
        height:auto;
    } */
    .container {
        margin-top: 70px;
    }
    .btn-grid {
        grid-template-columns: repeat(1, auto);
        margin: 5px 0;
    }
    .imgbg {
        position: absolute;
        top: 15px;
        left:15%;
        height: 20%;
        width: 72%;
    }
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}